<section class="title-section">
    <p>Finding Falcone</p>
    <span>Select planets you want to search in:</span>
</section>

<section class="flex-container">
    <div class="flex-child">
        <div class="title">Destination 1</div>
        <app-search [INDEX]="0"></app-search>
    </div>
    <div class="flex-child">
        <div class="title">Destination 2</div>
        <app-search [INDEX]="1"></app-search>
    </div>
    <div class="flex-child">
        <div class="title">Destination 3</div>
        <app-search [INDEX]="2"></app-search>
    </div>
    <div class="flex-child">
        <div class="title">Destination 4</div>
        <app-search [INDEX]="3"></app-search>
    </div>
    <!--  time take -->
    <div class="time-taken" [class.elate]="totalTime">
        <p>Time Taken</p>
        <span>{{ totalTime }} <em>hrs</em></span>
    </div>
</section>

<!-- find falcone button -->
<section style="margin-top: 50px; text-align: center;">
    <a *ngIf="isButtonShown" (click)="sendResponse()" class="link" href="javascript:void(0)">Find Falcone!</a>
</section>
