<section class="title-section">
    <!-- title -->
    <div>
        <p>Finding Falcone</p>
        <span>Select planets you want to search in:</span>
    </div>
    <!--  time taken -->
    <div class="time-taken" [class.elate]="totalTime">
        <p>Time Taken</p>
        <span>{{ totalTime }} <em>hrs</em></span>
    </div>
</section>

<section class="flex-container">
    <div class="flex-child">
        <div class="title">Destination 1</div>
        <app-search [INDEX]="0"></app-search>
    </div>
    <div class="flex-child">
        <div class="title">Destination 2</div>
        <app-search [INDEX]="1"></app-search>
    </div>
    <div class="flex-child">
        <div class="title">Destination 3</div>
        <app-search [INDEX]="2"></app-search>
    </div>
    <div class="flex-child">
        <div class="title">Destination 4</div>
        <app-search [INDEX]="3"></app-search>
    </div>

</section>

<section class="submit-buttons" style="margin: 50px 0; text-align: center;">
    <!-- reset button -->
    <a (click)="resetState()" class="link hide-reset" id="resetButton" [routerLink]="">reset</a>
    <!-- find falcone button -->
    <a *ngIf="isButtonShown" (click)="sendResponse()" class="link ml" [routerLink]="">Find Falcone!</a>
</section>
