<section class="title-section">
    <p>Finding Falcone</p>
    <span>Select planets you want to search in:</span>
</section>

<section class="flex-container">
    <div class="flex-child">
        <div class="title">Destination #1</div>
    </div>
    <div class="flex-child">
        <div class="title">Destination #2</div>
    </div>
    <div class="flex-child">
        <div class="title">Destination #3</div>
    </div>
    <div class="flex-child">
        <div class="title">Destination #4</div>
    </div>
</section>
