@import '~assets/scss/base';

$bg: rgba(255, 255, 255, 0.4);

a {
    cursor: pointer;
    padding: 4px 35px;
    position: relative;
    font-size: 1rem;
    color: $w;
    display: block;
    text-transform: capitalize;
    margin-right: 10px;

    &:hover {
        color: $disabled;
    }
    &.active{
        pointer-events: none;
        background: $bg;
    }
}
.hide-reset {
    display: none;
}