@import '~assets/scss/base';

$bg: rgba(255, 255, 255, 0.1);

a {
    cursor: pointer;
    padding: 6px 35px;
    position: relative;
    font-size: 1rem;
    color: $w;
    display: block;
    text-transform: capitalize;
    margin-right: 10px;

    &:before, &:after {
        @include transition;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 1px;
        background:  rgba(255, 255, 255, 0.3);
        content: '';
    }
    &:before {
        left: 50%;
    }
    &:after {
        right: 50%;
    }
    &:hover {
        color: $disabled;

        &:before, &:after {
            width: 20px;
        }
    }
    &.active{
        pointer-events: none;
        background: $bg;
    }
}