<header>
    <a routerLink="/start" routerLinkActive="active" href="javascript:void(0)">start</a>
    <a *ngIf="router.url.includes('/find-falcone')" routerLink="/find-falcone" routerLinkActive="active"
        href="javascript:void(0)">find falcone</a>
    <a *ngIf="router.url.includes('/result')" routerLink="/result" routerLinkActive="active"
        href="javascript:void(0)">Result</a>
    <a (click)="resetPlanets()" class="hide-reset" id="resetButton" href="javascript:void(0)">reset</a>
</header>