<section class="search-container" #searchWrapper [class.done]="chosenPlanet && !isSearchFocused">
    <!-- search textbox -->
    <div style="position: relative">
        <input #searchInput [formControl]="search" type="text" placeholder="Choose one" spellcheck="false"
            (focus)="isSearchFocused = true" (blur)="debouncedBlur()">
        <span *ngIf="!chosenPlanet" class="caret"></span>
    </div>

    <!-- dropdowns -->
    <div [hidden]="!isSearchFocused" class="dropdowns">
        <ng-container *ngFor="let planet of planets">
            <a [class.selected]="planet.selected" (click)="selectPlanet(planet)" [routerLink]="">
                {{ planet.name }}
            </a>
        </ng-container>
        <span *ngIf="isSearchFocused && !planets?.length">No planets found!</span>
    </div>
</section>

<!-- radio buttons -->
<section *ngIf="isOptionsShown" class="radio-container">
    <form [formGroup]="formGroup">
        <ng-container *ngFor="let vehicle of allOptions[INDEX]">
            <div class="options-flex"
                [class.disabled]="!vehicle.total_no
                || (chosenPlanet.distance > vehicle.max_distance)">
                <input (change)="selectVehicle(vehicle)" type="radio" [checked]="false"
                    [value]="vehicle.name" formControlName="vehicleRadio">
                <span>{{ vehicle.name }}</span>
                <span>({{ vehicle.total_no }})</span>
            </div>
        </ng-container>
    </form>
</section>
