@import "~assets/scss/base";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    font-size: 16px;
}
::-webkit-scrollbar {
    width: 12px;
    background: #dddddd;
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}
select:hover, select:active, select:focus, 
input:hover, input:active, input:focus, 
button:hover, button:active, button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}
a {
    @include transit(.8s);
    text-decoration: none;

    * {
        @include transit(.8s);
    }
    &:hover {
        text-decoration: none;
    }
}
.root-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
header, footer {
    width: 100%;
    height: 50px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
}
header {
    background: $primary;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: $secondary;
}
.router-container {
    min-height: calc(100vh - 110px);
    margin-bottom: 50px;
    padding: 10px 30px;
    position: relative;
    z-index: 50;
    background: $w;
}
.link {
    @include transit(0.3s);
    @include radius(4px);
    @include box-shadow(0, 3px, 5px, 0, 0, 0, 0.3);
    display: inline-block;
    width: 250px;
    padding: 15px 0;
    background: lighten($primary, 20%);
    color: $w;
    text-transform: capitalize;

    &:hover {
        @include box-shadow(0, 0, 5px, 0, 0, 0, 0.3);
        background: $primary;
    }
    &.ml {
        margin-left: 20px;
    }
}
.common-container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        font-size: 1.2rem;
        color: $grey;
        margin: 0 0 30px;
        padding: 0 20%;
        line-height: 35px;
    }
    strong {
        font-size: 1.5rem;
    }
}